.logo {
    width: 200px;
    height: 200px;
}

.cat-nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 0 24px;
    justify-content: center
}

.nav-entry {
    display: flex;


}

.nav-entry .entry-title {
    display: flex;
    align-items: center;
    height: 64px;
    margin-right: 100px;
}

.nav-entry .entry-title img {
    margin-right: 2px;
}

.cat-banner {
    display: flex;
    margin-top: -160px;
    justify-content: center;
}

.cat-banner ul.banner-slides {
    position: relative;
    width: 1000px;
    height: 600px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
}

.banner-slides .slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: #fff;

}

.trans {
    transition: .5s transform ease-in-out;
}

.slide:nth-of-type(1) {
    background-color: bisque;
}

.slide:nth-of-type(2) {
    background-color: orange;
    left: 100%;
}

.slide:nth-of-type(3) {
    background-color: blueviolet;
    left: 200%;
}

input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
}

.controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}

.controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
}

.banner-slides input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1) {
    background-color: #333;
}

.banner-slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
    background-color: #333;
}

.banner-slides input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3) {
    background-color: #333;
}

.banner-slides input[type="radio"]:nth-of-type(1):checked~.slide {
    transform: translateX(0%);
}

.banner-slides input[type="radio"]:nth-of-type(2):checked~.slide {
    transform: translateX(-100%);
}

.banner-slides input[type="radio"]:nth-of-type(3):checked~.slide {
    transform: translateX(-200%);
}



/* @media (max-width: 768px) {
    .drop-down-menu {
        position: static;
        text-align: center;
        display: block;
        flex-wrap: wrap;
    }
} */

.nav-toggle {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    background-color: #dfb5c3;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #dfb5c3, 0 1em 0 0 #dfb5c3;
    z-index: 300;
}

/* #cat-nav,
#nav-toggle {
    display: none;
} */

/* #nav-toggle {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
} */



/* .nav-toggle:before {
    content: "";
    position: absolute;
    top: 6px;
    right: 3px;
    width: 26px;
    height: 2px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #343a40, 0 1em 0 0 #343a40;
} */

/* @media(min-width:767px) {
    .body {
        position: static;
        text-align: center;
        display: none;
    }
} */

@media(max-width:670px) {
    .nav-entry {
        display: block;
    }

    .nav-entry .entry-title {
        border-bottom: 1px solid #ddd;
    }

    .cat-nav {
        display: none;
    }

    .cat-banner {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    .logo {
        width: 150px;
        height: 150px;
    }


}


@media (min-width: 671px) {
    .nav-toggle {
        display: none;

    }

    .cat-banner {
        margin-top: 50px;
    }
}