* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    border-top: 6px solid #dfb5c3;
    /* font-family: "Poppins", sans-serif;
    --color1: #FFF;
    --color2: #181818; */
}

ul,
ol,
li {
    list-style: none;
}

span {
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    background-color: white;
    padding: 12px 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 60px;
    margin-top: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #b19292;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 670px) {
    .menu {
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        width: 50%;
        /* height: 100vh; */
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #e6cccc;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .cat-banner {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }
}



@media(min-width: 671px) {
    .menu {
        height: 30px;
    }

    .cat-banner {
        margin-top: 50px;
    }
}

.cat-banner {
    display: flex;
    margin-top: -160px;
    justify-content: center;
}

.cat-banner ul.banner-slides {
    position: relative;
    width: 100%;
    height: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 150px
}

.cat-banner img {
    max-width: 100%;
}


.banner-slides .slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: #fff;

}

.trans {
    transition: .5s transform ease-in-out;
}

/* .slide:nth-of-type(1) {
    background-color: bisque;
} */

.slide:nth-of-type(2) {
    /* background-color: orange; */
    left: 100%;
}

.slide:nth-of-type(3) {
    /* background-color: blueviolet; */
    left: 200%;
}

.banner-slides input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1) {
    background-color: #333;
}

.banner-slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
    background-color: #333;
}

.banner-slides input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3) {
    background-color: #333;
}

.banner-slides input[type="radio"]:nth-of-type(1):checked~.slide {
    transform: translateX(0%);
}

.banner-slides input[type="radio"]:nth-of-type(2):checked~.slide {
    transform: translateX(-100%);
}

.banner-slides input[type="radio"]:nth-of-type(3):checked~.slide {
    transform: translateX(-200%);
}